ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
pymongo
from_root
dill
certifi
PyYAML
boto3
mypy-boto3-s3
botocore
fastapi
python-multipart
uvicorn
jinja2
imblearn
-e .

#abdullahrasheed45
#jt8Ag5BOKH1rsha9
#mongodb+srv://abdullahrasheed45:<db_password>@cluster0.rv8lxv4.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0